section {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 5.5em;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 60px;


}

.code_snippet {
  text-align: left;
}

.post {
  padding-top: 25px;
  padding-bottom: 15px;

}

.post a {
  text-decoration: none;
  font-size: 2em;
  color: darkgray;
}

#post1:hover .special1 { 
border-bottom: 1px solid gray;

 }

#post2:hover .special2 {
	border-bottom: 1px solid grey;

}

#post3:hover .special3 {
	border-bottom: 1px solid grey;

}

#post4:hover .special4   {
	border-bottom: 1px solid grey;
}

#post5:hover .special5 {
  border-bottom: 1px solid grey;

}

#post6:hover .special6 {
  border-bottom: 1px solid grey;

}